In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
bike_data = pd.read_csv('bike_index_api.csv')

In [17]:
bike_df = pd.DataFrame(data=bike_data)

In [24]:
explore_df = pd.DataFrame(data=bike_df.stolen_location.unique())

In [26]:
explore_df

                                               0
0                               Seattle,WA,98115
1                               Seattle,WA,98105
2                               Seattle,WA,98101
3                                            NaN
4                               Boulder,CO,80303
5                              Portland,OR,97206
6                                  Bend,OR,97701
7                              Austin,78758-7776
8                                Austin,TX,78705
9                          Santa Monica,CA,90401
10                               Denver,CO,80224
11                               Denver,CO,80218
12                         Indianapolis,IN,46204
13                         Redwood City,CA,94064
14                          Minneapolis,MN,55401
15                            Los Gatos,CA,95032
16                          New Orleans,LA,70124
17                             Portland,OR,97217
18                                Tempe,AZ,85282
19                            Palo Alto,CA,94306
20                               Denver,CO,80202
21                            Littleton,CO,80122
22                              Seattle,WA,98109
23                              Enschede,7511 AE
24                          New Orleans,LA,70117
25                           San Francisco,94109
26                          New Orleans,LA,70116
27                          New Orleans,LA,70113
28                                London,SE1 9YP
29                                Calgary,T2j0r9
...                                          ...
14137                         Carmichal,CA,95608
14138                         Charlotte,NC,28204
14139                         Camarillo,CA,93012
14140                        Centennial,CO,80111
14141                              Ware,MA,01082
14142                       Westchester,CA,90045
14143                           Clinton,MA,01510
14144                           Hampden,ME,04444
14145                            Tucson,AZ,85737
14146                   Madera, Ranchos,CA,93638
14147                         Knoxville,TN,37934
14148                     Crested Butte,CO,81224
14149                        Pine Point,ME,04074
14150                             Akron,OH,44314
14151                            Dallas,TX,75220
14152                     Bowling Green,KY,42101
14153                        Pittsburgh,PA,55232
14154  Osan Air Force Base, South Korea,PA,00000
14155                     Riviera Beach,FL,33404
14156                           Vancouver,V5X2N5
14157                      Philadelphia,PA,19114
14158                           Houston,TX,77036
14159                         Las Vegas,NV,89122
14160                        Sacramento,CA,96094
14161                       Old Hickory,TN,37138
14162                    New Alexandria,PA,15670
14163                              Ames,IA,50011
14164                           Red Deer,t4n 5h5
14165                         Indianapolis,46268
14166          F & M College Campus,PA,Lancaster

[14167 rows x 1 columns]